#logo {
    display: block;
    max-width: 50%; /* Set a maximum width to maintain aspect ratio */
    max-height: 50%; /* Set a maximum height to maintain aspect ratio */
    width: auto; /* Let the width adjust to maintain aspect ratio */
    height: auto; /* Let the height adjust to maintain aspect ratio */
    margin: 5% auto 0;
    padding: 2% 0 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
    border-radius: 50% !important;
    transition: transform 0.1s;
}

#logo:hover {
    transform: scale(1.04);
}

.result {
    height: 20px;
    line-height: 20px;
    margin: 1.5rem auto;
}

#main-heading {
    display: inline-block;
    color: #64CCC5;
    margin-top: 5%; /* Adjust this value as needed */
    font-family: "Times New Roman", serif; /* Specify font-family correctly */
    font-size: 35px; /* Set font size */
    /* transition-duration: 0.1s; */
    cursor: default;
    user-select: none;
}

/* #main-heading:hover {
    transform: scale(1.02);
} */

.input-box .btn {
    width: 70px;
    height: 30px;
    line-height: 30px;
    border-radius: 6px;
    border: none;
    margin: 0 0 0 20px;
    padding: 0 8px;
    cursor: pointer;
    color: white;
    background-color: #10546b;
    transition-duration: 0.1s;
}

.input-box .btn:hover {
    /* background-image: linear-gradient(to top, #171f24 0%, #e2ebf0 100%); */
    background-color: #08394d;
    /* transform: rotateX(360deg); */
}

.input-box .input {
    border: none;
    border-radius: 3px;
    outline: none;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    background-color: rgba(240, 240, 240, 1);
    -webkit-font-smoothing: antialiased;
}

.input-box .input:hover {
    border: none;
    background-color: rgba(255, 255, 255, 1);
}

.input-box .input:focus {
    border: none;
    background-color: rgba(255, 255, 255, 1);
}