#logo {
    display: block;
    max-width: 50%;
    max-height: 50%;
    width: auto;
    height: auto;
    margin: 5% auto 0;
    /* padding: 2% 0 0; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
    transition: transform 0.7s;
    border-radius: 50%;
}

#logo:hover {
    transform: rotateZ(360deg);
}

.result {
    height: 20px;
    line-height: 20px;
    margin: 1.5rem auto;
}

#main-heading {
    display: inline-block;
    color: #64CCC5;
    margin-top: 5%;
    font-family: "Times New Roman", serif;
    font-size: 30px;
    cursor: default;
    user-select: none;
}

#light-dark {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    z-index: 1;
    cursor: pointer;
    user-select: none;
    border: none;
}


#result {
    color: #64CCC5;
}

.input-box .btn {
    width: 70px;
    height: 40px;
    line-height: 30px;
    border-radius: 7px;
    border: none;
    margin: 0 0 0 10px;
    padding: 0 8px;
    cursor: pointer;
    color: white;
    background-color: #10546b;
    transition-duration: 0.1s;
}

.input-box .btn:hover {
    background-color: #0c4457;
}

.input-box .btn:active {
    background-color: #0b3b4b;
}

.input-box .input {
    border: none;
    border-radius: 7px;
    outline: none;
    height: 40px;
    width: 200px;
    line-height: 30px;
    padding: 0 10px;
    color: rgb(23, 31, 44);
    background-color: rgb(231, 219, 219);
    -webkit-font-smoothing: antialiased;
}

.input-box .input:hover {
    border: none;
    background-color: rgb(240, 234, 234)
}

.input-box .input:focus {
    border: none;
    background-color: rgba(255, 255, 255, 1);
}